{{ partial "header.html" . }}
<div class ="front-container">
	<div class="frontpage-header">
		<h1>Musings, ramblings, tips, tricks and essays</h1>
		<h2>Oh...and photos!</h2>
	</div>

</div>
<div class="front-container2">
	<div class="front-img">
		<a class="imglink" href="blog/">
			<h2>Blog</h2>
			<div>
			<img src="/icons/book294.png" alt="Read and laugh Josh Archers code blog" height="512" width="512"/>
			</div>
		</a>
	</div>
	<div class="front-img">
		<a class="imglink" href="code/">
			<h2>Code</h2>
			<div>
			<img src="/icons/binary7.png" alt="Read and laugh Josh Archers code blog" height="512" width="512"/>
			</div>
		</a>
	</div>
	<div class="front-img">
		<a class="imglink" href="photo/">
			<h2>Photo</h2>
			<div>
			<img src="/icons/camera90.png" alt="Read and laugh Josh Archers code blog" height="512" width="512"/>
			</div>
		</a>
	</div>
</div>
{{ partial "footer.html" . }}
