{{ partial "header.html" . }}
<div class ="front-container">
	<div class="frontpage-header">
        <h1>Hey, I'm Josh Archer</h1>
        <h2>Learn. Think. Solve. Share. Create. Do.</h2>
        <p>Hi, I'm <b>Josh Archer</b> and I am not just one single thing. I've been a <b>Journalist</b>, a professional <b>Photographer</b>, an <b>Army Officer</b>, a <b>Father</b>, a <b>Disaster Response Volunteer</b>, a <b>Web Developer</b> and a <b>life long learner</b>.</p>
        <p>I still continue to be some of those things and more besides!</p>
        <p>The world is full of inspiration to me. Here I give a little back by sharing a bit of what I learn and do along the way.</p>	
    </div>
</div>


<div class="front-container2">
    <div class="front-container3">
        <div class="front-img">
            <a class="imglink" href="/blog/">
                <h2>Blog</h2>
                <div>
                    <img src="/static/icons/book294.png" alt="Read and laugh Josh Archers code blog" height="512" width="512"/>
                </div>
            </a>
        </div>
        <div class="front-img">
            <a class="imglink" href="/code/">
                <h2>Code</h2>
                <div>
                    <img src="/static/icons/binary7.png" alt="Read and laugh Josh Archers code blog" height="512" width="512"/>
                </div>
            </a>
        </div>
        <div class="front-img">
            <a class="imglink" href="/photo/">
                <h2>Photo</h2>
                <div>
                    <img src="/static/icons/camera90.png" alt="Read and laugh Josh Archers code blog" height="512" width="512"/>
                </div>
            </a>
        </div>
        <div class="front-img">
            <a class="imglink" href="/categories/odin-project/">
                <h2>Odin Project</h2>
                <div>
                    <img src="/static/icons/odin-project-logo.jpg" alt="Josh Archers Odin Project blog" height="512" width="512"/>
                </div>
            </a>
        </div>
        <div class="front-img">
            <a class="imglink" href="/categories/lpthw/">
                <h2>LPTHW</h2>
                <div>
                    <img src="/static/icons/python-logo-500px.png" alt="Josh Archers Learn Python The Hard Way blog" height="512" width="512"/>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="front-container-goals">
        <h1>Josh Archer - personal goals for 2017</h1>
        <h3>Completed items receive a strikethrough or link</h3>
<div class="front-container4">
    <div class="front-list">
        <ul>
            <li><del>Sell a house</del></li>
        	<li><del>Buy a house</del></li>
        	<li><del>Move house (and country...again)</del></li>
        	<li><del>Complete Team Rubicon Induction</del></li>
        	<li><a href="http://www.teamrubiconuk.org/our-volunteers-get-to-grips-with-unrelenting-devastation-after-irma/">Deploy with Team Rubicon</a></li>
        	<li><del>Switch to LetsEncrypt and automate renewals</del></li>
            <li><a href="/code/ansible-python-connection-failure-ubuntu-server-1604/">Learn Ansible to workable level</a></li>
            <li><a href="https://gitlab.com/josharcher">Git all the things</a></li>
        	<li><a href="https://www.netlify.com">Automate</a> <a href="https://gitlab.com/squarepenguin/ansible-squarepenguin">deployments</a></li>
        	<li><del>Go to Ibiza for the first time</del></li>
        	<li><del>Play a round at the 'Home of Golf'</del></li>
        </ul>
    </div>
    <div class="front-list">
         <ul>
        	<li><del>Build a home office</del></li>
        	<li><a href="https://gitlab.com/josharcher/vim">Get comfortable with Vim</a></li>
        	<li><a href="/categories/lpthw/">Continue Learn Python The Hard Way</a></li>
        	<li><a href="/categories/odin-project/">Continue The Odin Project</a></li>
        	<li><del>Continue learning System Administration</del></li>
        	<li>Learn Docker* (ongoing)</li>
        	<li>Learn Kubernetes* (ongoing) </li>
        	<li><del>Try Fedora</del> (it's great!!)</li>
            <li>See the Northern Lights</li>
            <li>Learn Wireshark</li>
            <li>Start learning Computer Science* (ongoing)</li>
        </ul>
    </div>
 </div>
</div>
{{ partial "footer.html" . }}
